<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>移动端低代码设计器</title>
  <link rel="stylesheet" href="../package/Vant/vant.css">
  <link rel="stylesheet" href="../package/ElementUI/ElementUI.css">
  <script src="../package/vue/vue.min.js"></script>
  <script src="../package/Vant/vant.min.js"></script>
  <script src="../package/ElementUI/ElementUi.js"></script>
  <script src="../package/Sortable/Sortable.min.js"></script>
  <script src="../package/vuedraggable/vuedraggable.umd.min.js"></script>

  <link rel="stylesheet" href="./css/components/BodyCanvas.css">
</head>
<style>
</style>

<body>
  <div id="app">
    <div class="canvas-container">
      <div>
        <div>{{drag?'拖拽中':'拖拽停止'}}</div>
        <draggable v-model="myArray" chosen-class="chosen" force-fallback="true" group="people" animation="1000"
          @start="onStart" @end="onEnd">
          <transition-group>
            <div class="item" v-for="element in myArray" :key="element.id">{{element.name}}</div>
          </transition-group>
        </draggable>
      </div>
    </div>
  </div>
</body>

<script type="module">
  import { bodyCanvas } from '../config/global/global.js'
  Vue.component('vuedraggable', window.vuedraggable)
  Vue.use(vant.Lazyload)
  Vue.use(vant)
  var app = new Vue({
    el: '#app',
    components: {
      // vuedraggable: window.vuedraggable,//当前页面注册组件
    },
    data () {
      return {
        drag: false,
        myArray: [
          { people: 'cn', id: 1, name: 'www.itxst.com' },
          { people: 'cn', id: 2, name: 'www.baidu.com' },
          { people: 'cn', id: 3, name: 'www.taobao.com' },
          { people: 'us', id: 4, name: 'www.google.com' }
        ]
      };
    },
    methods: {
      onStart () {
        this.drag = true;
      },
      onEnd () {
        this.drag = false;
      }
    }
  });
</script>

</html>