<!-- Block: canvas-drag -->

<draggable v-model="componentsData" force-fallback="true" :group="{ name: 'itxst', pull: true, put: true }"
  animation="300" @start="onStart" @end="onEnd" @onClone="onClone" @add="onAddItem" @change="dragChange"
  chosen-class="canvas-drag__item--chosen" class="canvas-drag__content">
  <transition-group tag="div" class="canvas-drag__item-group">
    <!-- @contextmenu.prevent="$componentsContextmenu($event,component)" -->
    <component @click="clickComponents(component)" v-for="(component,index) in componentsData" :is="component.component"
      :key=" component.id" v-bind="component.props"
      :value="component.groupName === 'form'? formData[component.id] : undefined"
      @input="component.groupName === 'form'&& componentEmittedInput($event,component)">
      <template></template>
    </component>
  </transition-group>
</draggable>