.core-panel__main {
  border-top: 1px solid #ccc;
}

/* --- 容器和标题样式 --- */
.core-panel__item-header {
  font-size: 14px;
  color: #606266;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-bottom: 0.2px dashed #ccc;
  display: flex;
  align-items: center;
}

.core-panel__header-label {
  flex: 1;
}

.core-panel__header-icon {
  flex: 1;
  display: flex;
  justify-content: right;
}




.core-panel__drag-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* --- 单个组件项的样式 --- */
.core-panel__components {
  flex: 0 0 calc(33.333% - 0px);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px dashed #e9e9eb;
  font-size: 14px;
  color: #303133;
  /* 明确拖拽手势 */
  /* cursor: grab;   */
  cursor: move;
  /* --- 动效核心：为所有变化的属性添加平滑过渡 --- */
  transition: all 0.25s ease-in-out;
  /* 添加一个透明边框，防止 hover 和 chosen 时跳动 */
  transition: background-color 0.2s, border-color 0.2s;
}

/* --- 鼠标悬停时的动效 --- */
.core-panel__components:hover {
  /* 边框变为主题色 */
  border-color: #409EFF;
  /* 向上轻微移动，产生“浮起”效果 */
  transform: translateY(-4px);
  /* 添加一层精致的阴影，增强立体感 */
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
    0 9px 28px 0 rgba(0, 0, 0, 0.05),
    0 12px 48px 16px rgba(0, 0, 0, 0.03);
}

/* 
  vuedraggable 拖动时应用的 'chosen' class 的样式
  可以自定义拖动项的外观
*/
.core-panel__dragg__item {
  /* border: 2px dashed #409EFF;
  box-shadow: 0 8px 20px rgba(64, 158, 255, 0.3); */
  background-color: #f0f8ff;
  /* 选中时给一个淡蓝色背景 */
  border: solid 2px #3089dc !important;
  /* draggable 可能会覆盖，所以保留 !important */
}